body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #f6a465, #dc856d);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Adjust width as needed */
    margin: 0 auto; /* Center the container */
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: linear-gradient(to right, #ce814b, #ff9173);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background: linear-gradient(to left, #f6d365, #fda085);
  }
  